body{
    background-color: #16161a;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 70px;
    background-image: linear-gradient(0deg,#0c0c0c,#2e2e34 100%);
    font-size: 2em;
    font-weight: bold;

}

.logo{
    margin-right: 20px;
}

.titulo{
    text-shadow: 0 0px 20px #bfc4cd;
    color: #bfc4cd;
}

.contenedor{
    display: flex;
}

.seccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 40px;
    padding: 20px;
    min-height: 400px;
}

.primera-seccion{
    width: 50%;
}

.mensaje{
    width: 100%;
    min-height: 350px;
    background-color: #e1101000;
    border: none;
    resize:vertical;
    font-size: 1.5rem;
    color: #d6dbd6;
}

.mensaje::placeholder {
    color: #dee2e2;
    font-weight: bold;
}

.mensaje:focus{
    outline: none;
}

.informacion{
    color: #dee2e2ba;
}

.botones{
    display: flex;
    justify-content: space-between; 
}

.btn{
    width: 40%;
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #07070702;
    border-image: linear-gradient(25deg,#f38e21,#c9c8c81f,#c9c8c81f,#c9c8c81f,#f7eb3b)1;
    box-shadow: 0 0 10px #d579164e;
    color: #f38e21;
    letter-spacing: 1px;
}

.btn:hover{
    border: none;
    background-image: linear-gradient(25deg,#f38e21,#f7eb3b);
    box-shadow: 0 0 10px #f7eb3b, 0 0 40px #f38e21, 0 0 80px #d579164e;
    color: #070707;
}

.segunda-seccion{
    background-color:#6b6d6c15;
    border: none;
    width: 35%;
}

.mensaje_mod{
    min-height: 350px;
    font-size: 1.5em;
    border: none;
    resize:vertical;
    color:  #dee2e2ba;
    background-color: #00000000;
    background-image: url(/imagen/detective-g686140aef_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.mensaje_mod:focus{
    outline: none;
}

.aviso{
    text-align: center;
    color: #dee2e2ba;
}

.aviso p:first-child{
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.btn-copia{
    align-self: center;
    display: none;
}

.footer{
    background-image: linear-gradient(180deg,#0c0c0c,#2e2e34 100%);
    color: #dee2e2;
    text-align: center;  
    padding-bottom: 30px;
}

.icono-contacto{
    height: 40px;
    margin: 20px 30px;
}


@media screen and (max-width: 768px){
    .contenedor{
        display: block;
    } 
    .seccion{
        width: 80%;
        margin: 50px auto;
        padding: 10px;
    }
    .mensaje{
        min-height: 300px;
    }
    .mensaje_mod{
        background: none;
    }
    .aviso{
        order:-1;
        margin: 10px;
    }

    .btn-copia{
        width: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width: 375px){
    .contenedor{
        display: block;
    } 
    .seccion{
        width: 80%;
        margin: 50px auto;
        padding: 10px;
        min-height: 300px;
    }
    .mensaje{
        min-height: 200px;
        font-size: 1.1rem;
    }
    .mensaje_mod{
        background: none;
        min-height: 20px;
        font-size: 1.1rem;
    }
    .aviso{
        order:-1;
        margin: 10px;
    }

    .botones{
        display: block;
    }

    .btn{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
}
